site_name: Yinhao's Personal Notes
site_url: https://yinhao-f.github.io/notes/
theme:
  name: material

  icon:
    logo: material/notebook

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: teal
      accent: blue
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: teal
      accent: blue
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      accent: blue
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference